@charset "utf-8";
.openerp .oe_timesheet_weekly .oe_timesheet_weekly_account {
  text-align: left;
}
.openerp .oe_timesheet_weekly .oe_timesheet_weekly_activity {
  text-align: left;
}

.openerp .oe_timesheet_weekly .oe_timesheet_weekly_add_activity td {
  text-align: left;
}
.openerp .oe_timesheet_weekly .oe_timesheet_weekly_add_activity .oe_form_field_many2one {
  display: inline-block;
  width: 200px;
}
.oe_timesheet_weekly_selected_account a{
	text-align: left;
	float: left;
}